* {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}
body {
	background-color: green;
}

.center {
	margin: auto;
}
.rec {
	width: 37.5%;
	margin-bottom: 10px;
}
a {
	color: black;
}
